html{
    font-size: 100%;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

*, *::before, *::after { 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
main{
    background-image: url(/images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: min(1.5625rem);
    margin-top: 0;
    padding-top: 1.5625rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}